html {
  padding-left: 25px;
  padding-right: 25px;
}

header {
  color: #054569;
  text-align: center;
  padding-top: ;
}

body {
  color: #5591a9;
  background-color: black;
}

nav {
  text-align: center;
}

footer {
  text-align: center;
}
